.hentry {
	margin-bottom: 60px;

	&.post-grid-2-col {

		@include susy-media(768px) {
			@include span(6 of 12);
			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}

	}

	&.post-grid-3-col {

		@include susy-media(768px) {
			@include span(4 of 12);
			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}

	}

	&.post-grid-4-col {

		@include susy-media(769px) {
			@include span(3 of 12);
			&:nth-of-type(4n) {
				margin-right: 0;
			}
		}

		@include susy-media(601px 768px) {
			@include span(4 of 12);
			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}

	}

	.entry-title {
		word-wrap: break-word;
	}

}

.entry-post {
	font-size: 18px;
	word-wrap: break-word;
	@include susy-media(768px) {
		font-size: 20px;
	}
}

.thumbnail-link {
	display: block;
	position: relative;

	&:hover {
		img {
			filter: grayscale(0);
		}
	}

	img {
		display: block;
		filter: grayscale(100%);
		transform: translateZ(0);
		transition: all 200ms ease-in-out 0s;
		width: 100%;

		@include susy-media(768px) {
			width: auto;
		}

	}
}

.thumbnail-detail {
	text-align: center;

	.entry-title {
		font-size: 20px;
		margin-bottom: 8px;
		text-transform: uppercase;
		a {
			color: $color-3;
		}
	}

	.cat-links {
		font-style: italic;
		a {
			color: #777;
		}
	}

	a {
		&:hover {
			color: $color-1;
		}
	}

}

.single {

	@include with-layout( 12 (60px 30px) ) {

		@include susy-media(768px) {
			.entry-post {
				@include span(9 of 12);
			}

			.entry-meta {
				@include span(3 of 12 last);
			}
		}

	}

	.hentry {
		@extend %clearfix;

		@include susy-media(240px 600px) {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-orient: vertical;
			-moz-box-orient: vertical;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			/* optional */
			-webkit-box-align: start;
			-moz-box-align: start;
			-ms-flex-align: start;
			-webkit-align-items: flex-start;
			align-items: flex-start;
			.entry-post {
				-webkit-box-ordinal-group: 2;
				-moz-box-ordinal-group: 2;
				-ms-flex-order: 2;
				-webkit-order: 2;
				order: 2;
			}

			.entry-meta {
				-webkit-box-ordinal-group: 1;
				-moz-box-ordinal-group: 1;
				-ms-flex-order: 1;
				-webkit-order: 1;
				order: 1;
				margin-bottom: 40px;
				text-align: center;
				width: 100%;
			}
		}

	}

	.entry-thumbnail {
		margin-bottom: $base-line-height;
	}

	.entry-title {
		font-size: 22px;
		margin-top: 0;
		margin-bottom: 20px;
	}

	.entry-side {
		display: block;
		font-size: 16px;
		color: #aaa;
		margin-bottom: 2px;
		span,
		a {
			color: #666;
		}
		a:hover {
			color: $color-1;
		}
	}

}

.loop-nav {
	color: #aaa;
	clear: both;
	font-size: 16px;
	margin-top: 35px;
	a {
		display: block;
		color: #666;
		&:hover {
			color: $color-1;
		}
	}

	.attachment & {
		.next {
			margin-top: 5px;
		}
	}

	.next {
		margin-top: 20px;
	}
}

.attachment {

	.hentry {
		margin-bottom: 60px;
	}

}

.entry-content {
	word-wrap: break-word;
}

/**
 * Pagination
 */
.pagination {
	@include container(800px);
	clear: both;
	display: block;
	margin-bottom: 60px;
	text-align: center;

	.page-numbers {
		padding: 2px 12px;
		background-color: #f5f5f5;
		color: $color-3;
		display: inline-block;
		margin-right: -5px;
		&.current,
		&:hover {
			background-color: $color-3;
			color: $color-2;
		}
	}

}

/**
 * Related posts
 */
.related-posts {
	border-top: 1px dotted $border-color;
	margin-top: 30px;
	padding-top: 30px;

	h3 {
		margin-bottom: 30px;
		margin-top: 0;
	}

	ul {
		@extend %clearfix;
		@extend %reset-list;
	}

	li {
		margin-bottom: 40px;
		@include susy-media(768px) {
			@include span(3 of 9);
			margin-bottom: 0;
			&:last-child {
				@include last;
			}
		}
	}

	.related-thumbnail {
		margin-bottom: 16px;
	}

	.entry-title {
		font-size: 20px;
		a {
			color: $color-3;
			&:hover {
				color: $color-1;
			}
		}
	}

}

/**
 * Jetpack
 */
#infinite-handle {
	clear: both;
	margin-bottom: 60px;
	text-align: center;

	span {
		font-size: 18px;
	}

	button {
		text-transform: uppercase;
	}

}

/**
 * Popup
 */
button.mfp-arrow,
button.mfp-close {
	background-image: none;

	&:active {
		box-shadow: none;
	}

}