.site-footer {
	font-size: 16px;
	padding: 20px 0;
	background-color: #f5f5f5;
	@extend %clearfix;
	.wide-container {
		@include susy-media(240px) {
			padding: 0 20px;
		}
	}
}

.site-info {
	margin-bottom: 20px;
	text-align: center;
	@include susy-media(768px) {
		margin-bottom: 0;
		padding-top: 5px;
		text-align: left;
		@include span(6 of 12);
	}
	a {
		color: $color-3;
		border-bottom: 1px dotted #777;
	}
	p {
		margin-bottom: 0;
	}
}

.social-links {
	text-align: center;
	@include susy-media(768px) {
		text-align: right;
		@include span(6 of 12 last);
	}
	a {
		font-size: 16px;
		line-height: 1;
		display: inline-block;
		width: 35px;
		height: 35px;
		margin: 0 5px;
		padding: 8px;
		text-align: center;
		color: #fff;
		border-radius: 50%;
		background-color: #333;
		@media screen and (-webkit-min-device-pixel-ratio:0) {
			padding: 9px;
		}
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			padding: 9px;
		}
		&:hover {
			color: #fff;
			background-color: $color-1;
		}
	}
}
