.main-navigation {
	padding-bottom: 40px;
	position: relative;
}

.menu-wrapper {
	padding: 18px 0;
}

.menu-primary-items {
	text-align: center;
	@extend %inline-list;

	li {
		padding: 0 12px;
		position: relative;
		&:first-child {
			padding-left: 0;
		}
		&.current-menu-item {
			> a {
				color: $color-1;
				border-bottom: 1px solid $color-1;
			}
			.current-menu-item {
				> a {
					color: $color-1;
					border-color: $border-color;
				}
			}
		}
		&:hover {
			> .sub-menu {
				display: block;
			}
		}
		&.menu-item-has-children {
			padding-right: 20px;
			&::after {
				content: "\f107";
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				transform: translate(0, 0);
				font-size: 14px;
				position: absolute;
				top: 7px;
				right: 5px;
				&:hover {
					color: $color-1;
					content: "\f106";
				}
			}
			&:hover {
				&::after {
					content: "\f106";
				}
			}
			> a:hover {
				border-color: transparent;
			}
		}
	}

	a {
		border-bottom: 1px solid transparent;
		color: $body-font-color;
		font-size: 14px;
		text-transform: uppercase;
		&:hover {
			color: $color-1;
			border-bottom: 1px solid $color-1;
		}
	}

	.sub-menu {
		background-color: #fff;
		border: 1px solid $border-color;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.09);
		display: none;
		padding: 0;
		position: absolute;
		margin-top: 0;
		left: 0;
		z-index: 9999;
		text-align: left;
		@extend %reset-list;
		li {
			margin: 0;
			padding: 0;
			&:first-child {
				a {
					border-top: 0;
				}
			}
		}
		a {
			border-top: 1px solid #f4f4f4;
			border-bottom: 0;
			margin: 0;
			padding: 10px;
			min-width: 170px;
			line-height: 20px;
			text-transform: capitalize;
			&:hover {
				color: $link-color;
				border-color: #f4f4f4;
			}
		}
	}

}

/**
 * Mobile menu
 */
.slicknav_menu {
	display: none;
}

@include susy-media(max-width 767px) {

	#menu-primary-items {
		display: none;
	}
	
	.slicknav_menu {
		background-color: transparent;
		display: block;
		padding: 0;
		.slicknav_icon-bar {
			background-color: $color-3;
			box-shadow: none;
		}
	}

	.slicknav_menutxt {
		@extend .screen-reader-text;
	}

	.slicknav_btn {
		background-color: transparent;
		padding: 25px 30px 0 0;
		margin: 0;
	}

	.slicknav_nav {
		background-color: $color-3;
		margin-top: 60px;
		padding: 10px 0;
	}

	.slicknav_nav .slicknav_row, 
	.slicknav_nav a {
		padding: 5px 20px;
		margin: 0;
		font-size: 16px;
		text-transform: uppercase;
		color: #fff;
		&:hover {
			background-color: #333;
			border-radius: 0;
			color: #fff;
		}
	}

}

/**
 * Search icon
 */
.search-toggle {
	cursor: pointer;
	position: absolute;
	top: 18px;
}