.widget {
	font-size: 16px;
	margin-bottom: 60px;

	ul {
		@extend %reset-list;
	}

	li {
		border-bottom: 1px solid #eee;
		padding: 8px 0;
		&:first-child {
			padding-top: 0;
		}
		a {
			color: $color-3;
			&:hover {
				color: $color-1;
			}
		}
	}

	select {
		border: 1px solid #eee;
		width: 100%;
	}

}

.widget-title {
	background-color: #f5f5f5;
	border-radius: 3px;
	color: $color-3;
	font-size: 14px;
	font-family: $body-font-family;
	margin-bottom: 20px;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
}

.widget_archive,
.widget_categories {
	@extend %clearfix;

	li {
		text-align: right;
		@extend %clearfix;
	}

	a {
		float: left;
	}

}

.widget_rss {
	li {
		a {
			color: $color-1;
		}
	}
}

.widget_search {

	.field {
		width: 100%;
	}

}

.widget_tag_cloud {

	a {
		background-color: $color-1;
		border-radius: 3px;
		color: $color-2;
		padding: 2px 8px;
		margin-right: 5px;
		margin-bottom: 8px;
		display: inline-block;
		letter-spacing: 1px;
		line-height: 1.5;
		text-transform: uppercase;
		&:hover {
			color: $color-2;
			opacity: .75;
		}
	}

}

.widget_nav_menu {

	.sub-menu {
		padding-left: 20px;
		li {
			&:first-child {
				padding-top: 5px;
			}
			&:last-child {
				border-bottom: 0;
			}
		}
	}

}

.widget_recent_entries {

	li {
		@extend %clearfix;
	}

	a {
		float: left;
		line-height: 1.5;
		width: 65%;
	}

	.post-date {
		color: #777;
		font-size: 14px;
		float: right;
	}

}