.widget {
	font-size: 16px;
	margin-bottom: 60px;
	ul {
		@extend %reset-list;
	}
	li {
		padding: 8px 0;
		border-bottom: 1px solid #eee;
		&:first-child {
			padding-top: 0;
		}
		a {
			color: $color-3;
			&:hover {
				color: $color-1;
			}
		}
	}
	select {
		width: 100%;
		border: 1px solid #eee;
	}
}

.widget-title {
	font-family: $body-font-family;
	font-size: 14px;
	margin-bottom: 20px;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	color: $color-3;
	border-radius: 3px;
	background-color: #f5f5f5;
}

.widget_archive,
.widget_categories {
	@extend %clearfix;
	li {
		text-align: right;
		@extend %clearfix;
	}
	a {
		float: left;
	}
}

.widget_rss {
	li {
		a {
			color: $color-1;
		}
	}
}

.widget_search {
	.field {
		width: 100%;
	}
}

.widget_tag_cloud {
	a {
		line-height: 1.5;
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 8px;
		padding: 2px 8px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $color-2;
		border-radius: 3px;
		background-color: $color-1;
		&:hover {
			opacity: .75;
			color: $color-2;
		}
	}
}

.widget_nav_menu {
	.sub-menu {
		padding-left: 20px;
		li {
			&:first-child {
				padding-top: 5px;
			}
			&:last-child {
				border-bottom: 0;
			}
		}
	}
}

.widget_recent_entries {
	li {
		@extend %clearfix;
	}
	a {
		line-height: 1.5;
		float: left;
		width: 65%;
	}
	.post-date {
		font-size: 14px;
		float: right;
		color: #777;
	}
}
