// Based of Pure forms style
// https://github.com/yahoo/pure/blob/master/src/forms/css/forms.css

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="url"],
form input[type="date"],
form input[type="month"],
form input[type="time"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="week"],
form input[type="number"],
form input[type="search"],
form input[type="tel"],
form input[type="color"],
form select,
form textarea {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 2em;
	padding: .5em .6em;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-radius: 3px;
}

form textarea {
	height: auto;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
form input:not([type]) {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: .5em .6em;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px #ddd;
}


/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
form input[type="color"] {
	padding: .2em .5em;
}


form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form input[type="url"]:focus,
form input[type="date"]:focus,
form input[type="month"]:focus,
form input[type="time"]:focus,
form input[type="datetime"]:focus,
form input[type="datetime-local"]:focus,
form input[type="week"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="tel"]:focus,
form input[type="color"]:focus,
form select:focus,
form textarea:focus {
	border-color: #129fea;
	outline: 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
form input:not([type]):focus {
	border-color: #129fea;
	outline: 0;
}

form input[type="file"]:focus,
form input[type="radio"]:focus,
form input[type="checkbox"]:focus {
	outline: thin solid #129fea;
	outline: 1px auto #129fea;
}

form input[type="checkbox"],
form input[type="radio"] {
	display: block;
	margin: .5em 0;
}

form input[type="text"][disabled],
form input[type="password"][disabled],
form input[type="email"][disabled],
form input[type="url"][disabled],
form input[type="date"][disabled],
form input[type="month"][disabled],
form input[type="time"][disabled],
form input[type="datetime"][disabled],
form input[type="datetime-local"][disabled],
form input[type="week"][disabled],
form input[type="number"][disabled],
form input[type="search"][disabled],
form input[type="tel"][disabled],
form input[type="color"][disabled],
form select[disabled],
form textarea[disabled] {
	cursor: not-allowed;
	color: #cad2d3;
	background-color: #eaeded;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
form input:not([type])[disabled] {
	cursor: not-allowed;
	color: #cad2d3;
	background-color: #eaeded;
}
form input[readonly],
form select[readonly],
form textarea[readonly] {
	color: #777; /* menu text color */
	border-color: #ccc;
	background-color: #eee; /* menu hover bg color */
}

form input:focus:invalid,
form textarea:focus:invalid,
form select:focus:invalid {
	color: #b94a48;
	border-color: #e9322d;
}
form input[type="file"]:focus:invalid:focus,
form input[type="radio"]:focus:invalid:focus,
form input[type="checkbox"]:focus:invalid:focus {
	outline-color: #e9322d;
}
form select {
	/* Normalizes the height; padding is not sufficient. */
	height: 2.25em;
	border: 1px solid #ccc;
	background-color: white;
}
form select[multiple] {
	height: auto;
}
form label {
	margin: .5em 0 .2em;
}
form fieldset {
	margin: 0;
	padding: .35em 0 .75em;
	border: 0;
}
form legend {
	display: block;
	width: 100%;
	margin-bottom: .3em;
	padding: .3em 0;
	color: #333;
	border-bottom: 1px solid #e5e5e5;
}

/*csslint outline-none:false*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-family: inherit;
	font-size: 100%;
	padding: .5em 1em;
	text-decoration: none;
	color: #444; /* rgba not supported (IE 8) */
	color: rgba(0, 0, 0, .80); /* rgba supported */
	border: 1px solid #999;  /*IE 6/7/8*/
	border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
	border-radius: 2px;
	background-color: #eee;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, .05)), to(rgba(0,0,0, .10)));
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, .05) 40%, rgba(0,0,0, .10));
	background-image: -moz-linear-gradient(top, rgba(0,0,0, .05) 0%, rgba(0,0,0, .10));
	background-image: -o-linear-gradient(transparent, rgba(0,0,0, .05) 40%, rgba(0,0,0, .10));
	background-image: linear-gradient(transparent, rgba(0,0,0, .05) 40%, rgba(0,0,0, .10));

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: 0;
}

button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #000\9;
	box-shadow: 0 0 0 1px rgba(0,0,0, .15) inset, 0 0 6px rgba(0,0,0, .20) inset;
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
	cursor: not-allowed;
	opacity: .40;
	border: none;
	background-image: none;
	box-shadow: none;

	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	filter: alpha(opacity=40);
	-khtml-opacity: .40;
	-moz-opacity: .40;
}

/* Firefox: Get rid of the inner focus border */
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
	color: #fff;
	background-color: rgb(0, 120, 231);
}
