*,
*:before,
*:after {
	box-sizing: border-box;
}

* html {
	font-size: 100% * ( $font-size / $browser-font-size );
}

html {
	min-height: 100%;
}

body {
	background: $body-bg-color;
	color: $body-font-color;
	font-family: $body-font-family;
	font-style: $body-font-style;
	font-size: $font-size;
	font-weight: $body-font-weight;
	line-height: ($base-line-height / $font-size) * 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/**
 * Selection Color.
 */
::selection {
	background: $selection-bg-color;
	color: $selection-font-color;
	text-shadow: none;
}

::-moz-selection{
	background: $selection-bg-color;
	color: $selection-font-color;
	text-shadow: none;
}